h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.cell {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 2.6vw;
    margin: 0;
    width: 2.6vw;
}
.topBuffer {
    margin-top: 20px;
}

.wrapper {
    overflow: hidden;
}

/* Matrix Styles */
.matrix {
    display: block;
    margin: 20px auto;
    min-width: 100%;
}
.matrixColumn {
    display: inline-block;
    font-size: 0;
}

/* Palette Styles */
.palette {
    margin: 10vh;
    text-align: center;
}
.paintPot {
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 4vw;
    margin: 3vh 10px;
    width: 4vw;
}

/* Modal Styles */
.sharedWith {
    font-size: 12px;
    margin-top: 7px;
}
.modalButton {
    margin: 0 5px;
}
.userList {
    color: $blue;
}

/* Sidebar Styles */
.sidebarNav {
    background-color: rgba(49, 143, 135, 0.15);
    display: block;
    left: 230px;
    margin-bottom: -2000px;
    margin-left: -230px;
    padding-bottom: 2000px;
    position: fixed;
    top: 0;
    width: 230px;
    z-index: -100;
}
.sidebarContent {
    top: 90px;
    padding: 15px;
    position: absolute;
    .dangerZone {
        margin-top: 2em;
    }
}

/* Media Queries */
@media( max-width: 970px ){
    .cell {
        height: 20px;
        width: 20px;
    }
    .palette {
        margin: 10px auto;
    }
    .paintPot {
        display: inline-block;
        height: 40px;
        margin: 1vh 2vw;
        width: 40px;
    }
}
