.cell {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 1.5vw;
    margin: 0;
    width: 1.5vw;
}
.loadError {
    margin: 1em;
}
.navBar {
    z-index: 10;
}
.topBuffer {
    margin-top: 30px;
}
.wrapper {
    overflow: hidden;
}

/* Matrix Styles */
.matrix {
    display: block;
    margin: 20px;
    text-align: center;
}
.matrixColumn {
    display: inline-block;
    font-size: 0;
}

/* Palette Styles */
.palette {
    margin: 10vh;
    text-align: center;
}
.paintPot {
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 3.7vw;
    margin: 3vh 10px;
    width: 3.7vw;
}

/* Modal Styles */
.sharedWith {
    font-size: 12px;
    margin-top: 7px;
}
.modalButton {
    margin: 0 5px;
}
.userList {
    color: $blue;
}

/* Grid List Buttons */
.gridButton {
    margin: 0 2px;
}
.gridList {
    display: inline-block;
}

/* Sidebar Styles */
.sidebarNav {
    box-shadow: 5px 8px 10px rgba(11, 53, 81, 0.16);
    border-right: 8px double rgba(11, 53, 81, 0.16);
    display: block;
    left: 240px;
    margin-bottom: -2000px;
    margin-left: -240px;
    padding-bottom: 2000px;
    position: fixed;
    top: 0;
    width: 240px;
}
.sidebarContent {
    padding: 15px;
    position: absolute;
    top: 50px;
    .options {
        margin: 20px 0 5px;
    }
    .optionSection {
        margin-left: 0px;
    }
}
.sidebarHeader {
    color: rgba(0, 0, 0, 0.5);
    clear: both;
    font-weight: 600;
    margin-left: 15px;
}

/* Media Queries */
@media( max-width: 970px ){
    .cell {
        height: 20px;
        width: 20px;
    }
    .palette {
        margin: 10px auto;
    }
    .paintPot {
        display: inline-block;
        height: 30px;
        margin: 1vh 2vw;
        width: 30px;
    }
}
